---
import BaseLayout from '../../layouts/BaseLayout.astro';

import Hero from '../../components/Hero.astro';

import SeoAnalyzer from '../../vue/SeoAnalyzer.vue'
---


<meta property="og:type" content="product">
<meta property="og:title" content="Seo Analyzer - free seo tool">
<meta property="og:description" content="Get a more in-depth look at your website's SEO. Analyze your website for free with our SEO analyzer tool.">
<meta property="og:image" content="https://cdn.svgator.com/assets/landing-pages/web-animation/responsive-web-animation.svg">
<meta property="og:url" content="https://lzomedia.com/tools/free-seo-analyze/">
<meta property="og:site_name" content="Software development company">

<BaseLayout
	title="Free Tools - Seo Analyzer"
	description="Get a more in-depth look at your website's SEO. Analyze your website for free with our SEO analyzer tool."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-12">
			<Hero
				title="SEO Analyzer"
				tagline="Get a more in-depth look at your website's SEO. Analyze your website for free with our SEO analyzer tool."
				align="center"
			/>
			<SeoAnalyzer client:visible />
		</main>
	</div>
</BaseLayout>
