---
import BaseLayout from '../../layouts/BaseLayout.astro';

import Hero from '../../components/Hero.astro';

import SeoAnalyzer from '../../vue/SeoAnalyzer.vue'
---

<BaseLayout
	title="Free Tools - Seo Analyzer"
	description="Get a more in-depth look at your website's SEO. Analyze your website for free with our SEO analyzer tool."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-12">
			<Hero
				title="SEO Analyzer"
				tagline="Get a more in-depth look at your website's SEO. Analyze your website for free with our SEO analyzer tool."
				align="center"
			/>
			<SeoAnalyzer client:visible />
		</main>
	</div>
</BaseLayout>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages':['gauge']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {

		var data = google.visualization.arrayToDataTable([
			['Label', 'Value'],
			['Loading Speed', window.loadingSpeed],
		]);

		var options = {
			width: "100%", height: 250,
			redFrom: 90, redTo: 100,
			yellowFrom:75, yellowTo: 90,
			minorTicks: 5
		};

		var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

		chart.draw(data, options);

		setInterval(function() {
			data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
			chart.draw(data, options);
		}, 13000);
		setInterval(function() {
			data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
			chart.draw(data, options);
		}, 5000);
		setInterval(function() {
			data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
			chart.draw(data, options);
		}, 26000);
	}
</script>

<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Keyword', 'Density'],
			['Work',     11],
			['Eat',      2],
			['Commute',  2],
			['Watch TV', 2],
			['Sleep',    7]
		]);

		var options = {
			title: 'Keyword Density',
			height: 350,
			backgroundColor: 'dark',
			textColor: 'white',
			is3D: true,
		};

		var chart = new google.visualization.PieChart(document.getElementById('keywords'));
		chart.draw(data, options);
	}
</script>
