---
import BaseLayout from '../../layouts/BaseLayout.astro';

import Hero from '../../components/Hero.astro';

import SeoAnalyzer from '../../vue/SeoAnalyzer.vue'
---


<meta property="og:type" content="product">
<meta property="og:title" content="Seo Analyzer - free seo tool">
<meta property="og:description" content="Get a more in-depth look at your website's SEO. Analyze your website for free with our SEO analyzer tool.">
<meta property="og:image" content="https://cdn.svgator.com/assets/landing-pages/web-animation/responsive-web-animation.svg">
<meta property="og:url" content="https://lzomedia.com/tools/free-seo-analyze/">
<meta property="og:site_name" content="Software development company">
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Seo Analyzer",
        "description": "Get a more in-depth look at your website's SEO. Analyze your website for free with our SEO analyzer tool.",
        "review": {
            "@type": "Review",
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": 4,
                "bestRating": 5
            },
            "author": {
                "@type": "Person",
                "name": "Fred Benson"
            }
        },
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": 4.4,
            "reviewCount": 89
        }
    }
</script>
<BaseLayout
	title="Free Tools - Seo Analyzer"
	description="Get a more in-depth look at your website's SEO. Analyze your website for free with our SEO analyzer tool."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-12">
			<Hero
				title="SEO Analyzer"
				tagline="Get a more in-depth look at your website's SEO. Analyze your website for free with our SEO analyzer tool."
				align="center"
			/>

			<SeoAnalyzer client:visible />

            <!-- About the project sections -->
            <section>
                <h3>
                   About SEO Analyzer
                </h3>
                <div class="text-2xl">
                     <p>
                         An SEO tool that analyzes the structure of a site, crawls the site, counts words in the body of the site and warns of any technical SEO issues.
                     </p>
                    <p>
                        The tool is designed to help webmasters, marketers and search engine optimization (SEO) specialists to improve their website's visibility in search engine results pages.
                    </p>

                </div>
            </section>

            <!--Requirements for running -->
            <section>
                <h3>
                    Requirements for running
                </h3>
                <div class="text-2xl">
                    <p>
                        I've built this tool to showcase my skills in building web applications using the latest technologies like python, fastapi, vuejs, tailwindcss and docker.
                    </p>
                </div>
            </section>


            <!-- Run your own section -->
            <section>
                <h3>
                    Run your own
                </h3>
                <div class="text-2xl">
                    <p>
                        I've decided to make the source code of this tool available to the public.
                        You can run your own instance of the tool by following the instructions on the <a href="https://github.com/cornatul/api.todayintel.com">GitHub repository</a> .
                    </p>
                    <p>
                        Or even better run it on your local machine using docker and docker-compose.
                    </p>
                    <p class="mt-5">
                        <code>
                            docker pull cornatul/api.todayintel.com:v1
                        </code>
                    </p>
                </div>
            </section>

            <!-- Open API Documentation section -->
            <section>
                <h3>
                    Open API Documentation
                </h3>
                <div class="text-2xl">
                    <p>
                        The API documentation is available online at the following  <a href="https://api.todayintel.com/docs">address</a> .
                    </p>
                </div>
            </section>

            <!-- Seo structured data section -->

		</main>
	</div>
</BaseLayout>
