---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">

	<div class="container px-6 py-12 mx-auto">
		<div class="max-w-lg mx-auto">
			<img alt="404" src="https://daily-now-res.cloudinary.com/image/upload/s--Rxdm7vdJ--/f_auto/v1708328512/404_z4xiwg"/>
		</div>
	</div>

	<Hero title="Page Not Found" tagline="" />

</BaseLayout>
