---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About me as senior Laravel developer" description="Welcome to Lzo Media, where innovation meets expertise! I'm Stefan, a seasoned Laravel developer based in the United Kingdom with over 13 years of hands-on experience. Here's a glimpse into what I bring to the table:">
	<main class="stack gap-20 wrapper about">
		<Hero
			title="About"
			tagline="Thanks for stopping by. Read below to learn more about myself and my background."
		>
		</Hero>

		<section>
			<h2 class="section-title">Background</h2>
			<div class="content">
				<p>
					Hello there! I'm Stefan, a <a title="laravel developer" href="https://lzomedia.com">laravel developer</a> from Romania currently living in United kingdom
					with a passion for <b>building enterprise applications</b>. I've been in the game for over 13 years
					now, and let me tell you,
					I've seen some things. But nothing gets me more excited than tackling a client's problem
					head-on and choosing the best programming language to get the job done.
				</p>
				<br>
				<p>
					I mean, who doesn't love a good challenge, right? It's like trying to solve a Rubik's Cube,
					but with code. And let me tell you, after staring at lines of code for hours on end, sometimes
					a puzzle is exactly what I need to shake things up and get my brain going again.
				</p>
				<br>
				<p>
					But don't let my love for puzzles fool you - I take my work seriously. I believe that every
					project is an opportunity to learn and grow as a <b>developer</b>, and I always strive to deliver the
					best possible solution to my clients. Whether it's with PHP, Python, or some other programming
					language, I'm always up for a good challenge and a chance to flex my coding muscles.
				</p>
				<br>
				<p>
					So if you're looking for a <b>developer</b> who's not afraid to roll up their sleeves and dive
					headfirst into a coding problem, look no further. I'm your guy (or gal, if you prefer).
					Let's tackle your next project together and see what we can accomplish!

				</p>
			</div>
		</section>
		<section>
			<h2 class="section-title" title="my Passions">Passions</h2>
			<div class="content">
				<p>
					As a <b>senior backend engineer</b>, I am extremely passionate about using technology for good.
                    I firmly believe that technology has the power to make the world a better place, and I am committed to using my skills to contribute to positive change in society.

				</p>
				<p>
					Throughout my career, I have worked on a variety of <b>projects</b>, but the ones that truly excite me are those with a social impact. I enjoy working on projects that aim to solve real-world problems, such as improving access to education or healthcare, reducing carbon emissions, or promoting social justice.
				</p>
				<p>
					I strongly believe that it is our responsibility as technologists to use our <b>skills for good</b>.
                    We have the power to create <b>tools and systems</b> that can transform the lives of people around the world, and we should use that power to make a positive impact.
                    Whether it's building a <b>platform</b> that connects students with mentors, <b>developing software</b> to help farmers increase crop yields, or creating an app that promotes sustainable living, I am always eager to take on <b>projects</b> that make a difference.

				</p>
				<p>
					In addition to my technical skills, I am also a strong believer in collaboration and teamwork. I believe that the best results are achieved when people work together towards a common goal. I enjoy working with other engineers, designers, and stakeholders to ensure that we are delivering the best possible solutions for our users.

				</p>
			</div>
		</section>
		<section>
			<h2 class="section-title" title="My educations">Education</h2>
			<div class="content">
				<p>
					<strong>University of Bucharest</strong>
					<br />
					<span>Computer Science</span>
					<br />
					<span>2010 - 2014</span>

				</p>
			</div>
		</section>
		<section>
			<h2 class="section-title">Skills</h2>
			<div class="content">
				<ul style="list-style-type: none;margin-left: 0px;padding-left: 0px">
					<li>
						PHP - spanning over 13 years of experience
					</li>
					<li>
						Python - 4 years of experience
					</li>
					<li>
						IoT - spanning over 3 years of experience
					</li>
					<li>
						NLP & AI - 2 years of experience
					</li>
				</ul>
			</div>
		</section>
		<section>
			<h2 class="section-title">Certifications</h2>
			<div class="content">
				<p>
					<strong>CloudAmpq Certified Developer, 2023 </strong>
					<br />
					<strong>AWS Certified Solutions Architect, 2020 </strong>
					<br />
					<strong>Amazon Web Services, 2018 </strong>
					<br />
					<strong>Google Cloud Certified Associate Cloud Engineer, 2018 </strong>
					<br />
					<strong>Magento 2 Certification, 2018 </strong>
					<br />
					<strong>Laravel Certification, 2016 </strong>
				</p>
			</div>
		</section>

    </main>
    <section>
        <img src="https://raw.githubusercontent.com/saturnphp/saturnphp/master/assets/bar_graph.png" />
    </section>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
