---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';

import BlogPreview from '../components/BlogPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Blog - Lzo Media"
	description="My thoughts on web development, design, and more."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-12">
			<Hero
				title="My Blog"
				tagline="My thoughts on web development, design, and more."
				align="center"
			/>
			<div class="mx-auto grid grid-cols-2 bg-zinc-50 p-1">
				{
					projects.map((project) => (
						<BlogPreview project={project} />
					))
				}
			</div>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
