---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';

import BlogPreview from '../components/BlogPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Blog - Lzo Media"
	description="My thoughts on web development, design, and more."
>
	<div class="stack gap-20">

		<main class="wrapper stack gap-12">
			<Hero
				title="My Blog"
				tagline="My thoughts on web development, design, and more."
				align="center"
			/>
			<section class="dark:bg-gray-900">
				<div class="container px-6 py-10 mx-auto">
					<div class="grid grid-cols-1 gap-8 md:grid-cols-1">
						{
							projects.map((project) => (
								<BlogPreview project={project} />
							))
						}
					</div>
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
