---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BlogCard from '../components/BlogCard.astro';


const response = await fetch('https://blog.lzomedia.com/wp-json/wp/v2/posts?_embed&per_page=50');
const data = await response.json();
const posts = data.map((post) => {
    return {
        title: post.title.rendered,
        link: post.link,
        date: post.date,
        excerpt: post.excerpt.rendered,
    }
});


---

<BaseLayout
	title="Blog - Lzo Media"
	description="My thoughts on web development, design, and more."
>
	<div class="stack gap-20">

		<main class="wrapper stack gap-12">
			<Hero
				title="My Blog"
				tagline="My thoughts on web development, design, and more."
				align="center"
			/>

            <section class="bg-white dark:bg-gray-900">
                <div class="container px-6 mx-auto">
                    <div class="grid grid-cols-1  md:mt-16 md:grid-cols-2">

                        {posts.map((post) => (
                            <BlogCard
                                title={post.title}
                                link={post.link}
                                date={post.date}
                                excerpt={post.excerpt}
                            />
                        ))}
                    </div>
                </div>
            </section>

        </main>

    </div>
</BaseLayout>
