---
import { getCollection } from 'astro:content';
import { Link } from '@astrojs/renderer-react'

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import { Markup, Markdown } from 'astro-remote';
import {Octokit} from "octokit";

const octokit = new Octokit({
	auth: import.meta.env.GITHUB_TOKEN
})



const content = await octokit.request('GET /users/cornatul/gists', {
	headers: {
		'X-GitHub-Api-Version': '2022-11-28'
	}
}).then(res => res);

const projects = content.data.map(project => {

	let content ={
		id: project.id,
		url: project.url,
		content:   Object.keys(project.files).map(key => (
			{
				filename: project.files[key].filename,
				type: project.files[key].type,
				language: project.files[key].language,
				raw_url: project.files[key].raw_url,
			}
		))
	}

	console.log(content)
	return content;
})



---

<BaseLayout title="Blog" description="My thogts on technology and more">
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero title="Blog" />
			<Grid>

				<ul>
				{projects.map(project => (
					<li>
						<a href={`blog/${project.id}`}>
							{project.content.map(file => (
								<Markdown>{file.filename}</Markdown>
							))}
						</a>

					</li>
				))}
				</ul>
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
