---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';



import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import BlogPreview from "../components/BlogPreview.astro";

const blog = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Latest Blog Posts"
	description="Free programming courses and tutorials - Laravel Developer - Learn how to build websites and web applications using PHP, Laravel, Vue, Tailwind CSS, and more!"
>
	<main class="wrapper stack gap-8">
		<Hero
			title="Blog"
			tagline="My latest blog posts and thoughs on web development, programming, and more."
			align="start"
		/>
		<Grid variant="offset">
			{
				blog.map((course) => (
					<li>
						<BlogPreview project={course} />
					</li>
				))
			}
		</Grid>
	</main>
</BaseLayout>
