---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';


---

<BaseLayout
	title="Contact me"
	description="Learn about some of my work as a senior software developer and see my most recent projects below to get an idea of my past experience."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Contact me"
				tagline="You can reach out to me at any time to discuss your project or to ask any questions you may have."
				align="start"
			/>


			<!-- Contact Form -->
			<section class="container px-6 mx-auto">
				<h2 class="text-3xl font-bold text-gray-800 dark:text-white lg:text-4xl">
					<a title="Contact me" href="/contact" class="dark:text-white hover:text-blue-500">
						Contact me
					</a>
				</h2>
				<p class="mt-3 text-xl font-semibold mb-6 dark:text-white">
					You can reach out to me at any time to discuss your project or to ask any questions you may have.
				</p>
				<div class="cta">
					<ContactCTA />
				</div>
			</section>

		</main>
	</div>
</BaseLayout>
