---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import CoursePreview from "../components/CoursePreview.astro";

const courses = (await getCollection('courses')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Free programming courses and tutorials - Laravel Developer"
	description="Free programming courses and tutorials - Laravel Developer - Learn how to build websites and web applications using PHP, Laravel, Vue, Tailwind CSS, and more!"
>
	<main class="wrapper stack gap-8">
		<Hero
			title="Free Courses and Tutorials"
			tagline="Learn how to build websites and web applications using PHP, Laravel, Vue, Tailwind CSS, and more!"
			align="start"
		/>
		<Grid variant="offset">
			{
				courses.map((course) => (
					<li>
						<CoursePreview project={course} />
					</li>
				))
			}
		</Grid>
	</main>
</BaseLayout>
