---
import {getCollection} from 'astro:content';


// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import Skills from '../components/Skills.astro';


// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
    .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
    .slice(0, 4);
---

<BaseLayout>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "EntertainmentBusiness",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Orpington",
                "addressRegion": "London",
                "postalCode": "BR54BU",
                "streetAddress": "9 Haddon Road"
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4",
                "reviewCount": "250"
            },
            "name": "Senior Software Developer London - Lzo Media",
            "openingHours": [
                "Mo-Fr 09:00-17:30"
            ],
            "priceRange": "$$",
            "telephone": "(0744) 821-8899",
            "url": "https://lzomedia.com/"
        }
    </script>
    <main>
        <section class="wrapper stack gap-20 lg:gap-48">

            <header class="hero">
                <Hero
                        title="Senior Software Developer "
                        tagline="I'm Stefan &hearts; an senior software developer available for hire in London! With expert skills in PHP Python & Golang I can bring any ideea to life "
                        align="start"
                >
                    <div class="roles">
                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"/>
                            </svg>
                            #Laravel Developer
                        </Pill>
                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"/>
                            </svg>
                            #LondonHire
                        </Pill>

                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z"/>
                            </svg>
                            #Web Developer
                        </Pill>

                        <Pill>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z"/>
                            </svg>
                            Hardware enthusiast
                        </Pill>

                    </div>
                </Hero>

                <img
                        alt="php developer london"
                        style="box-shadow: none !important;aspect-ratio: 3/3;"
                        height="620"
                        src="https://i.imgur.com/z5PUMhV.jpeg"
                />
            </header>

            <section class="section with-background bg-variant">
                <header class="section-header stack gap-2 lg:gap-4">
                    <h2 title="Senior PHP Developer">
                        Senior Developer London
                    </h2>
                    <p>
                        I'm a <b>senior software developer</b> with over 13 years of experience in <i>software development</i>. I'm
                        available for hire on a freelance basis, and I'm always interested in hearing about new
                        opportunities.
                    </p>
                </header>

                <div class="gallery">
                    <Grid variant="small">
                        {
                            ['PHP', 'Python', 'Laravel', 'Symfony', 'FastAPI', 'React', 'VueS', 'Ionic', 'Wordpress', 'DevOps', 'IOT', 'Arduino', 'LoraWan', "LLM's"].map((brand) => (
                                    <li class="mention-card">
                                        <h3 title={brand + ' developer london available for hire'}>{brand}</h3>
                                        <p class="appearance-none">
                                            I'm a {brand} developer based in London, UK. I'm available for hire on a
                                            freelance basis, and I'm always interested in hearing about new opportunities.
                                        </p>
                                    </li>
                            ))
                        }
                    </Grid>
                </div>
            </section>

            <Skills/>

        </section>
        <section class="wrapper mt-20 mb-10 stack gap-20 lg:gap-48">
            <div class="section with-background with-cta">
                <header class="section-header stack stack lg:gap-20 ">
                    <h3 title="my work as a php developer">My Work</h3>
                    <p>Take a look below at some of my featured work for clients from the past few years.</p>
                </header>
                <div class="gallery">
                    <Grid variant="offset">
                        {
                            projects.map((project) => (
                                    <li>
                                        <PortfolioPreview project={project}/>
                                    </li>
                            ))
                        }
                    </Grid>
                </div>
                <div class="cta">
                    <CallToAction title="laravel developer my works" href="/work/">
                        View All
                        <Icon icon="arrow-right" size="1.2em"/>
                    </CallToAction>
                </div>
            </div>
        </section>
        <section class="wrapper stack gap-20 lg:gap-48">
            <div class="container px-6 py-12 mx-auto">
                <div>
                    <p class="text-3xl font-medium text-blue-500 dark:text-blue-400 text-center">Contact Me</p>

                    <p class="mt-2 text-2xl font-semibold  md:text-3xl dark:text-white text-center">I’d love to hear from you</p>

                </div>
                <div class="grid grid-cols-1 gap-12 mt-10 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">

                    <div class="p-4 rounded-lg bg-blue-50 md:p-6 dark:bg-gray-800">
                        <h4 class="text-base font-medium text-gray-800 dark:text-white">Chat to with me</h4>
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                            Book a 15-minute chat with me to discuss your project.
                        </p>
                        <p class="mt-2 text-sm text-blue-500 dark:text-blue-400">
                            <!-- Calendly link widget begin -->
                            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                            <a class="text-blue-500  dark:text-blue-400" title="contact me"  href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cornatul/15min'});return false;">Schedule time with me</a>
                            <!-- Calendly link widget end -->
                        </p>
                    </div>

                    <div class="p-4 rounded-lg bg-blue-50 md:p-6 dark:bg-gray-800">
                        <h4 class="text-base font-medium text-gray-800 dark:text-white">Call me</h4>
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Mon-Fri from 8am to 5pm.</p>
                        <p class="mt-2 text-sm text-blue-500 dark:text-blue-400">
                            <a title="laravel developer london contact number" class="text-blue-500  dark:text-white" href="tel:+447448218899">+44 (744) 821-8899</a>
                        </p>
                    </div>
                </div>

            </div>
        </section>
    </main>
</BaseLayout>

<style>
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .roles {
        display: none;
    }

    .hero img {
        aspect-ratio: 5 / 4;
        object-fit: cover;
        object-position: top;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    @media (min-width: 50em) {
        .hero {
            display: grid;
            grid-template-columns: 6fr 4fr;
            padding-inline: 2.5rem;
            gap: 3.75rem;
        }

        .roles {
            margin-top: 0.5rem;
            display: flex;
            gap: 0.5rem;
        }

        .hero img {
            aspect-ratio: 3 / 4;
            border-radius: 4.5rem;
            object-fit: cover;
        }
    }

    /* ====================================================== */

    .section {
        display: grid;
        gap: 2rem;
    }

    .with-background {
        position: relative;
    }

    .with-background::before {
        --hero-bg: var(--bg-image-subtle-2);

        content: '';
        position: absolute;
        pointer-events: none;
        left: 50%;
        width: 100vw;
        aspect-ratio: calc(2.25 / var(--bg-scale));
        top: 0;
        transform: translateY(-75%) translateX(-50%);
        background: url('/assets/backgrounds/noise.png') top center/220px repeat,
        var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
        background-blend-mode: overlay, normal, normal, normal;
        mix-blend-mode: var(--bg-blend-mode);
        z-index: -1;
    }

    .with-background.bg-variant::before {
        --hero-bg: var(--bg-image-subtle-1);
    }

    .section-header {
        justify-self: center;
        text-align: center;
        max-width: 75ch;
        font-size: var(--text-md);
        color: var(--gray-300);
    }

    .section-header h3 {
        font-size: var(--text-2xl);
    }

    @media (min-width: 50em) {
        .section {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
            gap: 5rem;
        }

        .section.with-cta {
            grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
        }

        .section-header {
            grid-area: header;
            font-size: var(--text-lg);
        }

        .section-header h3 {
            font-size: var(--text-4xl);
        }

        .with-cta .section-header {
            justify-self: flex-start;
            text-align: left;
        }

        .gallery {
            grid-area: gallery;
        }

        .cta {
            grid-area: cta;
        }
    }

    /* ====================================================== */

    .mention-card {
        display: flex;
        height: 7rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid var(--gray-800);
        border-radius: 1.5rem;
        color: var(--gray-300);
        background: var(--gradient-subtle);
        box-shadow: var(--shadow-sm);
    }

    @media (min-width: 50em) {
        .mention-card {
            border-radius: 1.5rem;
            height: 9.5rem;
        }
    }

    .appearance-none {
        appearance: none;
        display: none;
    }
</style>
