---
title: "Testimonials"

import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Testimonials from "../components/Testimonials.astro";
---

<BaseLayout
	title="Testimonials - PHP Developer "
	description="Learn more about my work and what my clients have to say about me."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
            <Testimonials />
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
