---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';

import Hero from '../components/Hero.astro';
import SeoAnalyzer from '../vue/SeoAnalyzer.vue';

import KeywordDensity from '../vue/KeywordDensity.vue';
---

<BaseLayout
	title="Seo Tools - Free to use seo tools"
	description="Best free seo tools for your website."
>
	<div class="stack gap-20">

		<main class="wrapper stack gap-12">
			<Hero
				title="Free Seo Tools"
				tagline="Boost your website's performance with a complimentary SEO checkup!"
				align="center"
			/>
			<KeywordDensity client:visible />
		</main>


		<main class="wrapper stack gap-12">
			<Hero
				title="Article Extractor"
				tagline="Extract full article from any website."
				align="center"
			/>
			<KeywordDensity client:visible />
		</main>

		<ContactCTA />
	</div>
</BaseLayout>
<script>
	// Script for seeing the content
	var showall = true;
	function toggleDetail(){
		if(showall){
			$(".error-detail").hide();
			$(".material-icons").text('keyboard_arrow_right');
			$("#ebutton").val('show all notices');
			showall = false;
		}else{
			$(".error-detail").show();
			$(".material-icons").text('keyboard_arrow_down');
			$("#ebutton").val('hide all notices ');
			showall = true;
		}
	}
	function fullerrors(errorid){
		var cellid = "#" + errorid;
		var pressedid = "#i" + errorid;
		$(cellid).toggle();

		if($(pressedid).html() == 'keyboard_arrow_down'){
			$(pressedid).text('keyboard_arrow_right');
		}else{
			$(pressedid).text('keyboard_arrow_down');
		}
	}
	// https://stackoverflow.com/questions/3160277/jquery-table-sort
	$(document).ready(function(){
		$('.sortable_th').click(function(){
			var table = $(this).parents('table').eq(0)
			var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
			this.asc = !this.asc
			if (!this.asc){rows = rows.reverse()}
			for (var i = 0; i < rows.length; i++){table.append(rows[i])}
		})
		function comparer(index) {
			return function(a, b) {
				var valA = getCellValue(a, index), valB = getCellValue(b, index)
				return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
			}
		}
		function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
	});
</script>