---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Icon from "../components/Icon.astro";
import CallToAction from "../components/CallToAction.astro";
---

<BaseLayout
        title="Free Tools for SEO, NLP, Article Extractor and more"
        description="Boost your website's performance with a complimentary set of free tools like article extractor, SEO analyzer and more."
>
    <main class="wrapper stack gap-12">
        <Hero
                title="Free Tools"
                tagline="Boost your website's performance with a complimentary set of free tools like article extractor, NLP, SEO analyzer and more."
                align="center"
        />

        <!-- SEO Analyzer -->
        <section class="container px-6 mx-auto">
            <h2 class="text-3xl font-bold text-gray-800 dark:text-white lg:text-4xl">
                <a title="Free SEO Analyzer" href="/tools/free-seo-analyzer" class="dark:text-white hover:text-blue-500">
                    SEO Analyzer
                </a>
            </h2>
            <p class="mt-3 text-xl font-semibold mb-6 dark:text-white">
                SEO Analyzer is a comprehensive, free tool designed to conduct in-depth SEO analysis across multiple data points.
                It provides clear, actionable recommendations to enhance your online presence and improve your search engine rankings.
            </p>
            <div class="cta">
                <CallToAction title="Free SEO Analyzer" href="/tools/free-seo-analyze/">
                    Try Now
                    <Icon icon="arrow-right" size="1.2em" />
                </CallToAction>
            </div>
        </section>

        <!-- Article Extractor -->
        <section class="container px-6 mx-auto">
            <h2 class="text-3xl font-bold text-gray-800 dark:text-white lg:text-4xl">
                <a title="Article Writer Free Tool" href="/tools/article-writer" class="dark:text-white hover:text-blue-500">
                    Article Writer
                </a>
            </h2>
            <p class="mt-3 text-xl font-semibold mb-6 dark:text-white">
                Article Writer is a free tool designed to streamline the process of content curation and management.
                By extracting the main content from any URL, it converts the text into clean HTML, making it ready for seamless integration into your preferred content management system (CMS).
                This tool simplifies the task of reusing and repurposing online content, ensuring that you can focus on what matters most—delivering valuable information to your audience.            </p>
            <p class="mt-3 text-xl font-semibold mb-6 dark:text-white">

            <div class="cta">
                <CallToAction title="Article Writer" href="/tools/article-writer">
                    Try Now
                    <Icon icon="arrow-right" size="1.2em" />
                </CallToAction>
            </div>
        </section>

        <!-- Trending Now -->
        <section class="container px-6 mx-auto">
            <h2 class="text-3xl font-bold text-gray-800 dark:text-white lg:text-4xl">
                <a title="Find What Is Trending Now on the Web" href="/tools/trending-now" class="dark:text-white hover:text-blue-500">
                    Trending Now
                </a>
            </h2>
            <p class="mt-3 text-xl font-semibold mb-6 dark:text-gray-200">
                Gain insights into what people are saying about your brand, product, or service with Trending Now.
                This free SEO tool helps you identify current trends across the web and media, keeping you informed and ahead of the curve.
            </p>
            <div class="cta">
                <CallToAction href="/tools/trending-now/">
                    Try Now
                    <Icon icon="arrow-right" size="1.2em" />
                </CallToAction>
            </div>
        </section>



        <!-- Email Generator Now -->
        <section class="container px-6 mx-auto">
            <h2 class="text-3xl font-bold text-gray-800 dark:text-white lg:text-4xl">
                <a title="email generator" href="/tools/email-generator" class="dark:text-white hover:text-blue-500">
                    Email Generator
                </a>
            </h2>
            <p class="mt-3 text-xl font-semibold mb-6 dark:text-gray-200">
                Generate professional-looking email templates with our easy-to-use email generator tool.
                Save time and effort by streamlining the process of creating visually appealing and effective email campaigns.
                Just provide him with information about your customer and he will generate the perfect email for you.
            </p>
            <div class="cta">
                <CallToAction href="/tools/email-generator">
                    Try Now
                    <Icon icon="arrow-right" size="1.2em" />
                </CallToAction>
            </div>
        </section>
    </main>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Orpington",
                "addressRegion": "London",
                "postalCode": "BR54BU",
                "streetAddress": "9 Haddon Road"
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4",
                "reviewCount": "250"
            },
            "name": "Free Tools",
            "openingHours": [
                "Mo-Fr 09:00-17:30"
            ],
            "priceRange": "$$",
            "telephone": "(0744) 821-8899",
            "url": "/tools"
        }
    </script>
</BaseLayout>
