---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Icon from "../components/Icon.astro";
import CallToAction from "../components/CallToAction.astro";
---

<BaseLayout
        title="Free Tools for SEO, NLP, Article Extractor and more"
        description="Boost your website's performance with a complimentary set of free tools like article extractor, SEO analyzer and more."
>
    <main class="wrapper stack gap-12">
        <Hero
                title="Free Tools"
                tagline="Boost your website's performance with a complimentary set of free tools like article extractor, NLP, SEO analyzer and more."
                align="center"
        />

        <!-- SEO Analyzer -->
        <section class="container px-6 mx-auto">
            <h2 class="text-3xl font-bold text-gray-800 dark:text-white lg:text-4xl">
                <a title="Free SEO Analyzer" href="/tools/free-seo-analyzer" class="dark:text-white hover:text-blue-500">
                    SEO Analyzer
                </a>
            </h2>
            <p class="mt-3 text-xl font-semibold mb-6 dark:text-white">
                <strong>SEO Analyzer</strong> is a <strong>free tool</strong> that performs a detailed <strong>SEO analysis</strong> across multiple data points, providing clear and actionable recommendations to improve your online presence and rank better in search engine results.
            </p>
            <div class="cta">
                <CallToAction title="Free SEO Analyzer" href="/tools/free-seo-analyze/">
                    Try Now
                    <Icon icon="arrow-right" size="1.2em" />
                </CallToAction>
            </div>
        </section>

        <!-- Article Extractor -->
        <section class="container px-6 mx-auto">
            <h2 class="text-3xl font-bold text-gray-800 dark:text-white lg:text-4xl">
                <a title="Article Extractor Free Tool" href="/tools/article-extractor" class="dark:text-white hover:text-blue-500">
                    Article Extractor
                </a>
            </h2>
            <p class="mt-3 text-xl font-semibold mb-6 dark:text-white">
                <strong>Article Extractor</strong> is a <strong>free tool</strong> that extracts the main content from any URL and converts it into clean HTML, ready for use in your favorite CMS.
            </p>
            <div class="cta">
                <CallToAction title="Extract Any Article Tool" href="/tools/article-extractor">
                    Try Now
                    <Icon icon="arrow-right" size="1.2em" />
                </CallToAction>
            </div>
        </section>

        <!-- Trending Now -->
        <section class="container px-6 mx-auto">
            <h2 class="text-3xl font-bold text-gray-800 dark:text-white lg:text-4xl">
                <a title="Find What Is Trending Now on the Web" href="/tools/trending-now" class="dark:text-white hover:text-blue-500">
                    Trending Now
                </a>
            </h2>
            <p class="mt-3 text-xl font-semibold mb-6 dark:text-gray-200">
                Discover what people are saying about your brand, product, or service. <strong>Trending Now</strong> is a <strong>free SEO tool</strong> that helps you find <strong>current trends</strong> across the web and media.
            </p>
            <div class="cta">
                <CallToAction href="/tools/trending-now/">
                    Try Now
                    <Icon icon="arrow-right" size="1.2em" />
                </CallToAction>
            </div>
        </section>

        <!-- Social Media Post Generator -->
        <section class="container px-6 mx-auto mb-20">
            <h2 class="text-3xl font-bold text-gray-800 dark:text-white lg:text-4xl">
                <a title="Social Media Post Generator" href="/tools/social-media-generator" class="dark:text-white hover:text-blue-500">
                    Social Media Post Generator
                </a>
            </h2>
            <p class="mt-3 text-xl font-semibold mb-6 dark:text-gray-200">
                This free tool helps you generate personalized and customized social media posts effortlessly.
            </p>
            <div class="cta">
                <CallToAction href="/tools/social-media-generator">
                    Try Now
                    <Icon icon="arrow-right" size="1.2em" />
                </CallToAction>
            </div>
        </section>
    </main>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Orpington",
                "addressRegion": "London",
                "postalCode": "BR54BU",
                "streetAddress": "9 Haddon Road"
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4",
                "reviewCount": "250"
            },
            "name": "Free Tools",
            "openingHours": [
                "Mo-Fr 09:00-17:30"
            ],
            "priceRange": "$$",
            "telephone": "(0744) 821-8899",
            "url": "/tools"
        }
    </script>
</BaseLayout>
