---
const currentYear = new Date().getFullYear();
---
<footer data-testid="flowbite-footer"
        class="w-full rounded-lg  shadow dark:bg-gray-800 md:flex md:items-center md:justify-between">
    <div class="mx-auto flex max-w-screen-xl flex-col items-center p-4 text-center md:p-8 lg:p-10 [&amp;>div]:w-fit">
        <div><a data-testid="flowbite-footer-brand" href="https://lzomedia.com"
                class="mb-4 flex items-center sm:mb-0"><img alt="LZO Media logo"
                                                            src="https://lzomedia.com/assets/logo.svg"
                                                            class="mr-3 h-8"><span
                data-testid="flowbite-footer-brand-span"
                class="self-center whitespace-nowrap text-2xl font-semibold  dark:text-white">
           Senior Software Developer
        </span></a>
        </div>
        <p class="my-6 text-gray-500 dark:text-gray-400">
            I'm Stefan ♥ an top-notch Laravel developer available for hire in London! With expert skills in PHP and Python, I can bring your web dreams to life.
            .</p>
        <ul data-testid="footer-groupLink"
            class="mb-6 flex flex-wrap items-center justify-center text-gray-900 dark:text-white text-base">
            <li class="last:mr-0 mr-4 hover:underline md:mr-6">
                <a title="laravel company london" href="services/laravel" class="hover:underline">Laravel</a>
            </li>
            <li class="last:mr-0 mr-4 hover:underline md:mr-6">
                <a title="python company london" href="/services/python" class="hover:underline">Python</a>
            </li>
            <li class="last:mr-0 mr-4 hover:underline md:mr-6">
                <a title="drupal company london" href="/services/drupal" class="hover:underline">Drupal</a>
            </li>
            <li class="last:mr-0 mr-4 hover:underline md:mr-6">
                <a title="wordpress development company london" href="/services/wordpress" class="hover:underline">Wordpress</a>
            </li>
            <li class="last:mr-0 mr-4 hover:underline md:mr-6">
                <a title="Symfony development company london" href="/services/symfony" class="hover:underline">Symfony</a>
            </li>
            <li class="last:mr-0 mr-4 hover:underline md:mr-6">
                <a title="Magento development company london" href="/services/magento" class="hover:underline">Magento</a>
            </li>
        </ul>
        <div data-testid="flowbite-footer-copyright" class="text-sm text-gray-500 dark:text-gray-400 sm:text-center">©
            {currentYear}<a href="https://lzomedia.com" class="ml-1 hover:underline">
                © 2023 Lzo Media Limited. Registered in the UK. Company number: 13454102. All rights reserved.
            </a>
        </div>
    </div>
</footer>


<style>
    footer {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: auto;
        padding: 3rem 2rem 3rem;
        text-align: center;
        color: var(--gray-400);
        font-size: var(--text-sm);
    }

    footer a {
        color: var(--gray-400);
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    footer a:hover,
    footer a:focus {
        text-decoration-color: currentColor;
    }

    .group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .socials {
        display: flex;
        justify-content: left;
        gap: 1rem;
        flex-wrap: wrap;
    }

    @media (min-width: 50em) {
        footer {
            flex-direction: row;
            justify-content: space-between;
            padding: 2.5rem 5rem;
        }

        .group {
            flex-direction: row;
            gap: 1rem;
            flex-wrap: wrap;
        }

        .socials {
            justify-content: flex-start;
        }
    }
</style>
