---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---


<section class="mt-20">
	<div class="container px-6 py-12 mx-auto">
		<div>
			<p class="font-medium text-blue-500 dark:text-blue-400 text-center">Contact Me</p>

			<h3 class="mt-2 text-2xl font-semibold text-gray-800 md:text-3xl dark:text-blue text-center">I’d love to hear from you</h3>

		</div>

		<div class="grid grid-cols-1 gap-12 mt-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
			<div class="p-4 rounded-lg bg-blue-50 md:p-6 dark:bg-gray-800">
				<h4 class="mt-4 text-base font-medium text-gray-800 dark:text-white">
					Email me
				</h4>
				<p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
					I'll try to get back to you within 24 hours.
				</p>
				<p class="mt-2 text-sm text-blue-500 dark:text-blue-400">stefan@LzoMedia.com</p>
			</div>

			<div class="p-4 rounded-lg bg-blue-50 md:p-6 dark:bg-gray-800">
				<h4 class="mt-4 text-base font-medium text-gray-800 dark:text-white">Chat to with me</h4>
				<p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                    Book a 15-minute chat with me to discuss your project.
                </p>
				<p class="mt-2 text-sm text-blue-500 dark:text-blue-400">
                    <!-- Calendly link widget begin -->
                    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                    <a class="text-blue-500  dark:text-blue-400"  href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cornatul/15min'});return false;">Schedule time with me</a>
                    <!-- Calendly link widget end -->
                </p>
			</div>

			<div class="p-4 rounded-lg bg-blue-50 md:p-6 dark:bg-gray-800">
				<h4 class="mt-4 text-base font-medium text-gray-800 dark:text-white">Call me</h4>
				<p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Mon-Fri from 8am to 5pm.</p>
				<p class="mt-2 text-sm text-blue-500 dark:text-blue-400">
					<a title="laravel developer london contact number" class="text-blue-500  dark:text-white" href="tel:+447448218899">+44 (744) 821-8899</a>
				</p>
			</div>
		</div>

        <p style="margin-top: 2vh">
            Experienced Laravel developer based in London, proficient in crafting robust and scalable web applications using the Laravel framework.
            Skilled in building efficient RESTful APIs, implementing authentication systems, and optimizing database performance.
            Committed to delivering high-quality code and exceeding client expectations.
            Strong understanding of modern web development practices and continuous integration/continuous deployment (CI/CD) pipelines.
            Passionate about staying updated with the latest technologies and contributing to the Laravel community.
        </p>
	</div>
</section>

<footer>
	<div class="group mt-20">
		<p>
			Designed & Developed in London by <a title="laravel developer london" href="https://lzomedia.com/">Lzo Media</a>
		</p>
		<p>&copy; {currentYear} Stefan</p>
	</div>
	<p class="socials">
		<a href="/testimonials" title="twitter"> Testimonials</a>
		<a href="https://lzomedia.com/tools/calculator-taxe-notariale" title="calculator taxe notariale"> Calculator taxe notariale</a>
		<a href="https://twitter.com/cornatul" title="twitter"> Twitter</a>
		<a href="https://github.com/cornatul" title="my github as a php developer"> GitHub</a>
		<a href="/sitemap.xml" title="sitemap">Sitemap</a>
	</p>
</footer>



<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.socials {
		display: flex;
		justify-content: left;
		gap: 1rem;
		flex-wrap: wrap;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 5rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
		}

		.socials {
			justify-content: flex-start;
		}
	}
</style>
