---
import Icon from './Icon.astro';
import { Markup, Markdown } from 'astro-remote';

---

<section class="box skills">

	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2 title="Software Development">
            Software Development
		</h2>
		<p>
			I'm a <b>full-stack developer</b> with a focus on back-end development. I have experience with PHP, Python & Golang.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2 title="senior developer london">
            Competitive Coding
		</h2>
		<p>
			I'm a <b>competitive programmer</b> with a 5-star rating on CodeChef.
            I have participated in many coding competitions and have won many prizes.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2 title="Strategy-Minded">
            Strategy-Minded
        </h2>
		<p>
			I'm a strategy-minded person. I like to think about the big picture and how things work together.
            I'm always looking for ways to improve things.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-md);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
