---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<div class="stack backgrounds">
			<Nav />
			<slot />
			<Footer />
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

		<style>
			:root {
				--_placeholder-bg: linear-gradient(transparent, transparent);
				--bg-image-main: url('/assets/backgrounds/bg-main-light-800w.jpg');
				--bg-image-main-curves: url('/assets/backgrounds/bg-main-light.svg');
				--bg-image-subtle-1: var(--_placeholder-bg);
				--bg-image-subtle-2: var(--_placeholder-bg);
				--bg-image-footer: var(--_placeholder-bg);
				--bg-svg-blend-mode: overlay;
				--bg-blend-mode: darken;
				--bg-image-aspect-ratio: 2.25;
				--bg-scale: 1.68;
				--bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
				--bg-gradient-size: calc(var(--bg-scale) * 100%);
			}

			:root.theme-dark {
				--bg-image-main: url('/assets/backgrounds/bg-main-dark-800w.jpg');
				--bg-image-main-curves: url('/assets/backgrounds/bg-main-dark.svg');
				--bg-svg-blend-mode: darken;
				--bg-blend-mode: lighten;
			}

			/* These backgrounds are displayed below the fold, so we lazy load them
			   once the `.loaded` class has been set.  */
			:root.loaded {
				--bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-light-800w.jpg');
				--bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-light-800w.jpg');
				--bg-image-footer: url('/assets/backgrounds/bg-footer-light-800w.jpg');
			}
			:root.loaded.theme-dark {
				--bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-dark-800w.jpg');
				--bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-dark-800w.jpg');
				--bg-image-footer: url('/assets/backgrounds/bg-footer-dark-800w.jpg');
			}

			@media (min-width: 50em) {
				:root {
					--bg-scale: 1;
					--bg-image-main: url('/assets/backgrounds/bg-main-light-1440w.jpg');
				}
				:root.theme-dark {
					--bg-image-main: url('/assets/backgrounds/bg-main-dark-1440w.jpg');
				}

				:root.loaded {
					--bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-light-1440w.jpg');
					--bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-light-1440w.jpg');
					--bg-image-footer: url('/assets/backgrounds/bg-footer-light-1440w.jpg');
				}
				:root.loaded.theme-dark {
					--bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-dark-1440w.jpg');
					--bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-dark-1440w.jpg');
					--bg-image-footer: url('/assets/backgrounds/bg-footer-dark-1440w.jpg');
				}
			}

			.backgrounds {
				min-height: 100%;
				isolation: isolate;
				background:
					/*noise*/ url('/assets/backgrounds/noise.png') top center/220px repeat,
					/*footer*/ var(--bg-image-footer) bottom center/var(--bg-gradient-size) no-repeat,
					/*header1*/ var(--bg-image-main-curves) top center/var(--bg-gradient-size) no-repeat,
					/*header2*/ var(--bg-image-main) top center/var(--bg-gradient-size) no-repeat,
					/*base*/ var(--gray-999);
				background-blend-mode: /*noise*/ overlay, /*footer*/ var(--bg-blend-mode),
					/*header1*/ var(--bg-svg-blend-mode), /*header2*/ normal, /*base*/ normal;
			}
			@media (forced-colors: active) {
				/* Deactivate custom backgrounds for high contrast users. */
				.backgrounds {
					background: none;
					background-blend-mode: none;
					--bg-gradient-size: none;
				}
			}
		</style>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-J5MLH67KMS"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-J5MLH67KMS');
		</script>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TW5J7LZ');</script>
        <!-- End Google Tag Manager --><!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TW5J7LZ"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <script>
            document.getElementById('clickMe').addEventListener('click', function() {
                // Send an event to Google Analytics when the link is clicked
                gtag('event', 'link_click', {
                    'event_category': 'Engagement',
                    'event_label': 'Click on Link',
                    'event_value': 1 // You can use this to track a numerical value associated with the event
                });
            });
        </script>
        <!-- Mautic (gtag.js) -->



		<script>
			(function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
				w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
					m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://marketing.lzomedia.com/mtc.js','mt');

			mt('send', 'pageview');
		</script>

		<!-- Hotjar Tracking Code for Lzo Media -->
		<script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:3598283,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
	</body>
</html>
